<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div class="container">

  {% include header.html %}

  <div class="grid" id="searchBar">
     <div>
         <div id="search">
             <form role="search" method="get" action="{{site.baseurl}}/search/">
                 <input id="searchString" name="searchString"
                        placeholder="Learn Ionic, Be a Better Developer, etc." type="text">
                 <input id="searchButton" name="googleSearchName" type="button" value="Search">
             </form>
         </div>

         <div id="archives">
             browse by <a title="The complete archive of {{ site.name }}'s Blog by category"
                    href="{{ site.url}}{{site.baseurl}}/categoryview">category</a>
             or <a title="The complete archive of {{ site.name }}'s Blog by month"
                   href="{{ site.url}}{{site.baseurl}}/monthview">date</a>
         </div>
     </div>
 </div>

  {% if site.default_column == "two" %}  

  <div class="page-content col-sm-8">
    {{ content }}
    {% include post_pagination.html %}
  </div>
  {% include sidebar.html %}

  {% else %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>
  {% include post_pagination.html %}

  {% endif %}

  {% include footer.html %}

</div>

</body>

</html>
